@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer utilities{
    .max-container{
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .fix-height{
        height: 400px;
        min-height: 400px;
        overflow: auto;
    }

   
}


@keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
  
  .slide-in {
    animation: slideIn 0.5s ease-out;
  }


  .cart-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .cart-item.show {
    opacity: 1;
    transform: translateY(0);
  }